* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }
  /* RETINA DISPLAY */
  @media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2){


/* PORTFOLIO LINKS */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 4rem;
    

    margin: 0 auto;
    padding: 5rem 0rem 3rem 0rem;
    gap: 1rem;
    justify-content: space-evenly;
  }

  .grid-container a{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-decoration: none;
  }

  .grid-container h2{
    
    z-index: 10;
    visibility: hidden;
  }

  

  .grid-container div{

  }

  .grid-container img{
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 20rem;
    height: 20rem;
  }

}
/* SECTION ENDS */






/* LARGE SCREENS */
/* PORTFOLIO GRID, TEXT, AND LINK */
@media screen and (min-width:100rem){
  .active{
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "a a b c"
    "d e e f"
    "g h i f";
    list-style: none;
    margin: 10rem;
    padding: 2rem 3rem 0rem 3rem;
    justify-content: center;
  }



  #a{
    grid-area: a;
  }
  #b{
    grid-area: b;
  }
  #c{
    grid-area: c;
  }
  #d{
    grid-area: d;
  }
  #e{
    grid-area: e;
  }
  #f{
    grid-area: f;
  }
  #g{
    grid-area: g;
  }
  #h{
    grid-area: h;
  }
  #i{
    grid-area: i;
  }

  .grid-item {
    display: flex;
    font-size: 5rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    
  }

 

  .grid-item img{
    background-color: rgba(255, 255, 255, 0.8);
    object-fit: cover;
  }

  /* H2 Image Text*/
.grid-container h2{
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: absolute;
    left: .1rem;
    bottom: .3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0rem 1rem;
    font-size: 2rem;
    z-index: 10;
    visibility: hidden;
  }

/* LINK BOX SIZE */
  .grid-container div{
    
  }

  .grid-container{
    list-style: none;
  }
  
  .grid-container a{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-decoration: none;
  }

  .grid-container2 a{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    text-decoration: none;
  }
  
  .grid-container div{
    transition: all .2s ease-in-out;
    
  }
  
  .grid-container div:hover{
    transform: scale(1.05);
  }

  .grid-container div a:hover h2{
    transition: all .2s ease-in-out;
    transform: translate(1rem, -1rem);
    visibility: visible;
  }
/* SECTION END */

/* LINK IMAGE AND BACKGROUND IMAGES */
 
    img{
    width: 100%;
    height: 100%;
  }

  .grid-container img{
    
    position: relative;
    z-index: 1;
    
  }

  .grid-container div a:hover img{
    opacity: .5;
  }

/*  #banzai{
    background-image: url("img/credits/Credit_Thumbnail.jpg");
    background-position: center; 
    z-index: 1;
  } 
*/
  }
}

/* SECTION END */

