* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background-color: rgb(243, 243, 243);
overflow-x: hidden;
}


h1{
  
  font-size: 3rem;
  font-family: "geom-graphic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  
    font-family: "lores-12", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
  
}



/* BODY */
body{
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  background-color: rgb(243, 243, 243);
}


main{
  padding-top:3rem;
  

}

.center{
  text-align: center;
}

#place{
  text-align: center;
  margin-top: 10rem;
}

#place p{
  
  margin-top: 5rem;
  font-size: 2rem;
}


img{
  width: 100%;
  position: relative;
}

div{
  height: min-content;
}

/* FORM */
form{
  margin: 0 auto;
}

form div{
  padding: 2rem
}


/* H2 Image Text*/


/* On Hover make image Title visible */


/* Section End */


.button{
  
  background-color: gray;
  color: black;
  float: right;
  
}
.button a{
  color: white;
  text-decoration: none;

  display: block;
  font-size: 1.25rem;
  padding: 1rem;
  width:10rem;
  
}

.button a:link{
  color:rgb(255, 255, 255);
  
}

.button a:visited{
  color:rgb(255, 255, 255);
  
}

.button a:hover{
  color:rgb(0, 0, 0);
  background-color: white;
  
}

.button a:active{
  color:rgb(0, 0, 0);

}







/* RETINA DISPLAY */
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2){
  main{
    padding-top: 6rem;
    margin: 0rem 0rem;
  }

  
  footer{
    padding: 1rem 1.5rem;
  }

}

/* SECTION ENDS */



/* Tablet Screen Size */
@media screen and (min-width:37.5rem){

  h1{
    font-size: 4rem;
  }

 

  /* 3D Thumbnails */





}

/* Section Ends */

/* Desktop Screen Size */
@media screen and (min-width:60rem){

  h1{
    font-size: 5rem;
  }

  h2{
    font-size: 2rem;
  }

  



  .left{
    float:left;
    text-align: center;
  
  }
  
  .left img{
    width: 35rem;
    margin: auto;
  }
  
  .about{

    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(182, 182, 182);
    justify-content: space-evenly;
    
    
  }
  
  #aboutText{
    padding: 10rem 0rem;
    
  }
  
  .portfolio{
    background-color: rgb(182, 182, 182);
    padding: 10rem 0rem;
    margin-bottom: 5rem;
  }

  .buttonArray{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
 
}


/* MAC(Large) Screen Size */
@media screen and (min-width:100rem){
    .container img{
      height:50%;
    }

 



    .left{
      padding:2rem;
    }

    .left img{
      width:50rem;
    }

    .about{
      
    }

    .about h1{
      font-size: 9rem;
    }

    .about p{
      font-size: 1.5rem;
    }

    footer{
      
      font-size: 1.5rem;
    }

}



  