* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background-color: white;
overflow-x: hidden;
}


h1{
  
  font-size: 3rem;
  font-family: "geom-graphic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2{
  
    font-family: "lores-12", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    font-style: normal;
  
}



/* BODY */
body{
  background-color: rgb(243, 243, 243);
}


main{
  padding-top:3rem;
  

}

.center{
  text-align: center;

}


img{
  width: 100%;
  position: relative;
}

div{
  height: min-content;
}

.container{
  list-style: none;
  
}

.container a{
  display: flex;
  text-decoration: none;
}

.container div{
  transition: all .2s ease-in-out;
  
}

.container div:hover{
  transform: scale(1.05);
}

.container h1{
  margin-left: 1rem;
}




.container img{
  z-index: 1;
}

/* H2 Image Text*/
.imageText{
  position: absolute;
  left: .1rem;
  bottom: .3rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0rem 1rem;
  z-index: 10;

  visibility: hidden;
}

/* On Hover make image Title visible */


/* Section End */



.button{
  
  background-color: gray;
  color: black;
  padding: 1rem;
  float: right;
  /*margin: 6rem 1rem 0rem 0rem;*/
}
.button a{
  color: white;
  text-decoration: none;
}

/* FOOTER */

footer{
  padding: 10rem 1.5rem 3rem 1.5rem;
  color:rgb(0, 0, 0);
}

footer ul{
  list-style: none;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Footer Link Styling */
footer a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}

footer a:link{
  color:rgb(0, 0, 0);
  
}

footer a:visited{
  color:rgb(0, 0, 0);
  
}

footer a:hover{
  color:rgb(0, 0, 0);
  
}

footer a:active{
  color:rgb(0, 0, 0);

}

/* SECTION ENDS */





/* --- Phone Screen Size --- */
@media screen and (max-width:37.5rem) {




  .container h1{
    margin-left: 1rem;
  }


  

  main{
    padding-top: 6rem;
    margin: 0rem 0rem;
  }

  
  footer{
    padding: 1rem 1.5rem;
  }

}

/* SECTION ENDS */



/* Tablet Screen Size */
@media screen and (min-width:37.5rem){

  h1{
    font-size: 4rem;
  }

 

  /* 3D Thumbnails */


#credits a:hover img{
  visibility: hidden;
}

#credits a:hover{
  background-image: url("gif/MovieCredits.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

#head a:hover img{
  visibility: hidden;
}

#head a:hover{
  background-image: url("gif/Head_Gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#arcade a:hover img{
  visibility: hidden;
}

#arcade a:hover{
  background-image: url("gif/Arcade_Gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

#greet a:hover img{
  visibility: hidden;
}

#greet a:hover{
  background-image: url("gif/Greetings_Gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Illustration Thumnails */
#fest a{
  background-image: url("img/KaijuFest_Thumbnail.png");
  background-position: center;
}

.container div a:hover .imageText{
  transition: all .2s ease-in-out;
  transform: translate(1rem, -1rem);
  visibility: visible;
}

}

/* Section Ends */

/* Desktop Screen Size */
@media screen and (min-width:60rem){

  h1{
    font-size: 5rem;
  }

  h2{
    font-size: 2rem;
  }

  .imageText{
    left: 1.5rem;
    bottom: .25rem;
    
  }


  .left{
    float:left;
    padding: 2.5rem;
    text-align: center;
  
  }
  
  .left img{
    width: 27.25rem;
    
    margin: auto;
  }
  
  .about{
    background-color: rgb(182, 182, 182);
    padding: 10rem 0rem;
    align-items: center;
    margin-bottom: 5rem;
    
  }
  
  #aboutText{
    padding: 0 5rem 0rem 35rem;
      text-align: center;
  }
  
  .portfolio{
    background-color: rgb(182, 182, 182);
    padding: 10rem 0rem;
    margin-bottom: 5rem;
  }

  .buttonArray{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
 
}



/* Retina Display 
@media screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 192dpi){
    nav{
      width:100%;
      position: fixed;
    }
    
    .navbar{
      padding:.1rem;
    }
  
    .icon{
      display:block;
      padding: 3rem;
      right: 3rem;
      top: 3rem;
    }
  
    .horizontal {
      padding: 0rem;
      display:none;
      
    }
  
  
    .horizontal.vertical{
      position: absolute;
      right:0;
      display:flex;
      flex-direction: column;
  
    }
  
    .horizontal.vertical a{
      border: none;
      border-radius: 0;
      padding: 2.5rem 1.5rem;
      margin: 0 auto;
      font-size: 3rem;
    }
  
    .active{
      float: none;
      text-decoration: none;
      display:block;
      padding: 4rem;
      font-size: 4rem;
    }
  
    main{
      padding-top: 5rem;
      margin: 0rem 1rem;
    }
    
    .container {
      display: grid;
      grid-template-columns:  repeat(1, 1fr);
      grid-gap: 1rem;
    
    }

    img{
      width: 100%;
      padding: 5rem;
    }    
  
    footer{
      padding: 1rem 1.5rem;
    }

  }
  */
  