iframe{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 960px;
    height:540px;
}

section{
    width:60rem;
    margin: 0 auto;
    padding: 1rem 0rem;
}
section p{
    padding: 1rem 0rem 0rem 0rem;
    width: 45rem;
}

.series{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 35%;
  }

h1{
    font-size: 3rem;
    padding-bottom: 1rem;
}

h2{
    font-size: 2.5rem;
}
#subheading{
    font-weight: 900;
    font-size: 1.25rem;
}

.process{
    margin-top:3rem;
      
}

.processContent{
    margin-top: 1rem;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 1rem;
}

/* --- Phone Screen Size --- */
@media screen and (max-width:37.5rem) {

  
  }
  
  /* SECTION ENDS */
  
  
  
  /* Tablet Screen Size */
  @media screen and (min-width:37.5rem){

  
  }
  
  /* Section Ends */
  

  /* Desktop Screen Size */
  @media screen and (min-width:60rem){

  }
  
  